@model IEnumerable<SacramentMeetingPlanner.Models.Sacrament>

@{
    ViewData["Title"] = "Index";
}

<h1>Sacrament Meetings Programs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presiding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducting)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            @*
        <th>
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Speakers)
            </th>


            @*<th>
            @Html.DisplayNameFor(model => model.IntermediateHymn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presiding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conducting)
                </td>
                <td>
                    <small> @Html.DisplayFor(modelItem => item.OpeningHymn)</small>
                       
                </td>

                <td>
                    @foreach (var model1 in item.Speakers)
                    {
                                   

                    <small>
                        @model1.SpeakerName
                    </small>
                    

                
                    }
                    </td>




<td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
